:root{
    --baseColor: #565d69;
    --otherColor: #31353b;
    --black: black;
    --errorColour: #53292b;
    --errorBorder: #612c2f;
}

body{
    background-color: var(--baseColor);
    margin: 20px !important;
}